Package: reachdesk
Version: 1.2.0
Architecture: amd64
Installed-Size: 14905933
Maintainer: rustdesk <info@rustdesk.com>
Depends: libgtk-3-0, libxcb-randr0, libxdo3, libxfixes3, libxcb-shape0, libxcb-xfixes0, libasound2, libsystemd0, curl, libvdpau1, libva2
Description: A remote control software.
 (none)
