[Desktop Entry]
Name=ReachDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/reachdesk;
TryExec=reachdesk
Exec=reachdesk --connect "%u"
Icon=reachdesk
Terminal=false
Type=Application
StartupNotify=false
Version=1.5
